*{
    margin: 0;
    padding: 0;
}
.logo{
    width: 17%;
    display: flex;
    align-items: center;
}

.logo img{
    width: 33%;

}
.navbar{
   display: flex;
   align-items: center;
   justify-content: center;
   position: sticky;
   top: 0;
   cursor: pointer; 
}
.nav-list{
    display: flex;
    width: 80%;
    align-items: center;

}

.nav-list li{
    list-style: none;
    padding: 3px 19px;
    font-size: larger;
    font-family: cursive;
}

.nav-list li a{
    text-decoration: none;
    color: blue;
}

.nav-list li a:hover{
    text-decoration: none;
    color: black;

}

.rightnav{
    adding: 10px 7px;
    text-align: right;
}

#search{
    padding: 4px;
    font-size: 13px;
    border: 2px soid grey;
    border-radius: 21px;
    

}

.background{
    background: rgba( 0, 0, 0, 0.7)  url('../img/unnamed.jpg');
    background-size: cover;
    background-blend-mode: 27%;

}

.firstSection{
     height: 100vh;
}
.box-main{
     display: flex;
     justify-content: center;
     align-items: center;
     color: white;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     max-width: 95%;
     margin: auto;
     height: 82%;
}

.firstHalf{
    width: 74%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.secondHalf{
    width: 52%;
    
}

.secondHalf img{
    width: 50%;
    border: 4px solid white;
    border-radius: 16px;
    display: block;
    margin: auto;
}

.text-big{
    font-size: 39px;
    text-align: start;
}

.text-small{
    font-size: 25px;
}

.buttons {
    padding: 14px 4px;
}

.btn{
    padding: 4px 4px;
    border: 2px solid black;
    font-size: 14px;
    background: none;
    color: white;
    cursor: pointer;
}

.btn-sm{
    padding: 1px 4px;
    border: 2px solid black;
    font-size: 14px;
    cursor: pointer;
}

.contact{
    background-color: #c6ecdf;
    height: 40vh;
}

.text-centre{
    text-align: center;
}

.secRight{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 95%;
    margin: auto;
}

.secLeft{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 95%;
    margin: auto;
}
